@font-face {
    font-family: 'montserrat-semibold';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-display: 'fallback';
  }
  @font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-display: 'fallback';
  }